<a href="https://colab.research.google.com/github/omullaboyev/data-science/blob/main/2_1_6_Pandas_DataFrame_From_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science va Sun'iy Intellekt Praktikum

Ma'lumotlar Tahlili. Pandas kutubxonasi

2.1 Pandas kutubxonasi bilan ishlash.

**2.1.6 Lug'at (List) dan DataFRame yaratish**

In [1]:
import pandas as pd

Lug'atlar lug'ati yaratib oldik

In [2]:
# data
data = {
        "Uzbekistan": {2021:33.9, 2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9}, # O'zbekiston lug'ati
        "Kazakhstan": {2021:18.9, 2020:18.7, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8} # Qozog'iston lug'ati
} # Lug'atlar lug'ati yaratydik

#Lug'atlar lug'atidan DataFrame yaratamiz

In [6]:
df2 = pd.DataFrame(data) # Lug'atlar lug'atidan DataFrame yaratdik

In [5]:
df2 # Tashqi lug'atning kalitlari (Uzbekistan, Kazakhstan) - Ustun nomi, ichki lug'at kalitlari (2021, 2020, 2019, ...) indeks bo'lib keldi

      Uzbekistan  Kazakhstan
2021        33.9        18.9
2020        33.5        18.7
2019        32.9        18.5
2018        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8

#DataFrame ning indekslari uztuni nomini o'zgartirish

In [8]:
df2.index.name = "Yil" # df2 ning indekslari ustuni nomini "Yil" ga o'zgartirdik

In [9]:
df2

      Uzbekistan  Kazakhstan
Yil
2021        33.9        18.9
2020        33.5        18.7
2019        32.9        18.5
2018        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8

#Lug'atdan faqatgina kerakli ma'lumotlarni olib DataFrame yaratish (ro'yhatdagi ma'lumotlarni saralab olish)

In [12]:
df2 = pd.DataFrame(data, index = [2021, 2019, 2017]) # Lug'atlar lug'atidan faqatgina 2021, 2019, 2017 indeksli ma'lumotlarni saralab olib DataFrame yaratdik

In [13]:
df2

      Uzbekistan  Kazakhstan
2021        33.9        18.9
2019        32.9        18.5
2017        31.9        18.1

#`T` attributi. Indekslar va Ustunlar o'rnini almashtirish

In [14]:
df2.T # T metodi yordamida df2 ning indekslari va ustunlari o'rning almashtirish

            2021  2019  2017
Uzbekistan  33.9  32.9  31.9
Kazakhstan  18.9  18.5  18.1

#`values` attributi. DataFrame ning qiymatlarini 2 p'lchamli massiv sifatida qaytaradi

In [16]:
arr = df2.values

In [17]:
arr

array([[33.9, 18.9],
       [32.9, 18.5],
       [31.9, 18.1]])

In [18]:
type(arr)

numpy.ndarray