<a href="https://colab.research.google.com/github/omullaboyev/data-science/blob/main/2_1_4_Pandas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science va Sun'iy Intellekt Praktikum

#Ma'lumotlar Tahlili. Pandas kutubxonasi

2.1 Pandas kutubxonasi bilan ishlash.

2.1.4 `DataFrame` ma'lumotlar tuzilmasi

In [1]:
import pandas as pd # pandas kutubxonasini chaqirish

Lug'at yaratamiz

In [3]:
# data
data = {
        "Yil": [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
        "Aholi soni": [33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
        "Temp": [1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53]
} # Yillar bo'yicha O'zbekiston aholisining soni va o'sish tempi lug'ati

Lug'atdan DataFrame yaratish

In [4]:
df = pd.DataFrame(data) # Lug'atdan dataframe yaratish

In [5]:
df

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56
3  2018        32.5  1.62
4  2017        31.9  1.65
5  2016        31.4  1.66
6  2015        30.9  1.64
7  2010        28.5  1.53

#`head()` metodi. DataFrame ning eng birinchi 5 ta elementini ko'rish

In [6]:
df.head() # df ning eng birinchi 5 ta elementini ko'rish

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56
3  2018        32.5  1.62
4  2017        31.9  1.65

# `head(N)` - DataFrame ning eng birinchi N ta elementini ko'rish

In [7]:
df.head(3) # f ning eng birinchi 3 ta elementini ko'rish

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56

#`shape` metodi. DataFrame ning shaklini (hajmini) ko'rish

In [9]:
df.shape # df ning shaklini(hajmini) ko'rish

(8, 3)