<a href="https://colab.research.google.com/github/omullaboyev/data-science/blob/main/2_1_3_Pandas_Series_Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science va Sun'iy Intellekt Praktikum

#Ma'lumotlar Tahlili. Pandas kutubxonasi

2.1 Pandas kutubxonasi bilan ishlash.

2.1.3 Series metodlari

In [1]:
import pandas as pd # pandas kutubxonasini chaqirish

In [2]:
import numpy as np # numpy kutubxonasini chaqirish

In [3]:
from pandas import Series # Series

In [6]:
# Lug'at (dictionary)
cars_dict = {"Malibu": 40000, "Lacetti": 20000, "Toyota": 45000, "Mazda": 52000, "Honda": 38000}

In [8]:
cars_dict

{'Honda': 38000,
 'Lacetti': 20000,
 'Malibu': 40000,
 'Mazda': 52000,
 'Toyota': 45000}

In [16]:
cars1 = Series(cars_dict) # cars_dict lug'atidan cars1 obyektini yaratish

In [9]:
models = ["Honda", "Mazda", "Lacetti", "Jaguar", "Malibu", "Toyota", "BMW", "Mercedes"]

In [10]:
cars2 = Series(cars_dict, index = models)

In [11]:
cars2

Honda       38000.0
Mazda       52000.0
Lacetti     20000.0
Jaguar          NaN
Malibu      40000.0
Toyota      45000.0
BMW             NaN
Mercedes        NaN
dtype: float64

#`isnull` metodi (mavjud bo'lmagan qiymatni tekshiradi)

In [12]:
cars2.isnull() # qiymat mavjud bo'lmasa True, mavjud bo'lsa False

Honda       False
Mazda       False
Lacetti     False
Jaguar       True
Malibu      False
Toyota      False
BMW          True
Mercedes     True
dtype: bool

#`notnull` methodi (mavjud bo'lgan qiymatni tekshiradi)

In [14]:
cars2.notnull() # qiymat mavjud bo'lsa True, mavjud bo'lmasa False

Honda        True
Mazda        True
Lacetti      True
Jaguar      False
Malibu       True
Toyota       True
BMW         False
Mercedes    False
dtype: bool

In [15]:
cars2

Honda       38000.0
Mazda       52000.0
Lacetti     20000.0
Jaguar          NaN
Malibu      40000.0
Toyota      45000.0
BMW             NaN
Mercedes        NaN
dtype: float64

In [17]:
cars1

Malibu     40000
Lacetti    20000
Toyota     45000
Mazda      52000
Honda      38000
dtype: int64

#Series ustida arifmetik amallar

#Qo'shish (+) Series elementlari qiymatlarini indekslari bo'yicha qo'shadi

In [18]:
cars1 + cars2 # cars1 va cars2 qiymatlarini indekslari bo'yicha qo'shadi

BMW              NaN
Honda        76000.0
Jaguar           NaN
Lacetti      40000.0
Malibu       80000.0
Mazda       104000.0
Mercedes         NaN
Toyota       90000.0
dtype: float64

#`name` - Seriesga nom berish

In [20]:
cars2.name = "Avtosalon"

#`Series.index.name` - Seriesning indekslariga nom berish

In [21]:
cars2.index.name = "Modellar"

In [22]:
cars2

Modellar
Honda       38000.0
Mazda       52000.0
Lacetti     20000.0
Jaguar          NaN
Malibu      40000.0
Toyota      45000.0
BMW             NaN
Mercedes        NaN
Name: Avtosalon, dtype: float64