<a href="https://colab.research.google.com/github/omullaboyev/data-science/blob/main/2_1_17_Pandas_DataSet_Statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science va Sun'iy Intellekt Praktikum

Ma'lumotlar Tahlili. Pandas kutubxonasi

2.1 Pandas kutubxonasi bilan ishlash.

2.1.17 Dataset statistikasi: min, max, o’rta qiymat va summa

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Keyingi mashqlar uchun ma'lumotlarni Githubdan yuklab olamiz
df = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/uzbekistan.csv", index_col=0)
df.columns = ["maydoni","aholisi"]
df

                                maydoni    aholisi
Boʻlinishi
Andijon viloyati                 4200.0  1899000.0
Buxoro viloyati                 39400.0  1384700.0
Fargʻona viloyati                6800.0  2597000.0
Jizzax viloyati                 20500.0   910500.0
Xorazm viloyati                  6300.0  1200000.0
Namangan viloyati                7900.0  1862000.0
Navoiy viloyati                110800.0   767500.0
Qashqadaryo viloyati            28400.0  2029000.0
Qoraqalpogʻiston Respublikasi  160000.0  1200000.0
Samarqand viloyati              16400.0  2322000.0
Sirdaryo viloyati                5100.0   648100.0
Surxondaryo viloyati            20800.0  1676000.0
Toshkent viloyati               15300.0  4450000.0

#`sum` - Yig'indi

In [4]:
df.sum() # maydoni va aholisi ustunlarining yig'indisi

maydoni      441900.0
aholisi    22945800.0
dtype: float64

In [5]:
# Keyingi mashqlar uchun ma'lumotlarni Githubdan yuklab olamiz
df2 = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/gm_sales.csv", index_col=0)
df2.head()

         2020   2021
Labo     4521   7542
Damas   30889  33682
Spark   16370   6485
Nexia   41663  14442
Cobalt  44901  36317

In [7]:
df2.sum() # 2020 va 2021 qatorlar yig'indisi - vertical sum

2020    168712
2021    124734
dtype: int64

#Ustunlar bo'yicha yig'indi

In [9]:
df2.sum(axis = 1) # 2020 va 2021 bo'yicha ustunlar yig'indisi - horizontal sum

Labo      12063
Damas     64571
Spark     22855
Nexia     56105
Cobalt    81218
Gentra    56634
dtype: int64

In [10]:
df2.sum(axis = "columns") # 2020 va 2021 bo'yicha ustunlar yig'indisi - horizontal sum

Labo      12063
Damas     64571
Spark     22855
Nexia     56105
Cobalt    81218
Gentra    56634
dtype: int64

#`mean` - o'rtacha qiymat

In [11]:
df2.mean(axis = 1) # 2020 va 2021 ustunlaridagi elementlarning o'rtacha qiymati

Labo       6031.5
Damas     32285.5
Spark     11427.5
Nexia     28052.5
Cobalt    40609.0
Gentra    28317.0
dtype: float64

In [13]:
df.mean() # Ustunlar bo'yicha o'rtaca qiymat. Viloyatlarning o'rtacha maydoni va aholisi.

maydoni    3.399231e+04
aholisi    1.765062e+06
dtype: float64

Boshqa funksiyalar
count - NaN bo'lmagan qiymatlar soni

median - qiymatlar medianini hisbolash

mad - mean absolute deviation

prod - barcha qiymatlar ko'paytmasi

var - variance (dispersiya)

std - standart deviation (standart chetlanis)

skew - skewness

kurt - kurtosis

cumsum - cumulative sum

cummin va cummax- cumulative min and max

cumprod - cumulative product

diff - arifmetik farq (difference)

pct_change - percent changes

#`idxmin` eng kichkina qiymatlarning indekslari

In [15]:
df.idxmin() # maydon bo'yicha eng kichigi Andijon, aholi bo'yicha eng kichigi Sirdaryo

maydoni     Andijon viloyati
aholisi    Sirdaryo viloyati
dtype: object

#idxmax - eng katta qiymatlarning indekkslari

In [17]:
df.idxmax() # maydon bo'yicha eng kattasi Qoraqalpog'iston, aholi bo'yicha eng kattasi Toshkent viloyati

maydoni    Qoraqalpogʻiston Respublikasi
aholisi                Toshkent viloyati
dtype: object

#Berilgan ustun bo'yicha idxmin va idxmax

In [18]:
df["maydoni"].idxmax() # maydoni ustuni bo'yicha eng katta

'Qoraqalpogʻiston Respublikasi'

In [19]:
df["maydoni"].idxmin() # maydoni ustuni bo'yicha eng kichik

'Andijon viloyati'

In [20]:
df["aholisi"].idxmax() # aholisi ustuni bo'yicha eng katta

'Toshkent viloyati'

In [21]:
df["aholisi"].idxmin() # aholisi ustuni bo'yicha eng kichik

'Sirdaryo viloyati'

#`argmin` - eng kichik qiymatga ega elementning **tartib raqami**. Faqat Series obyektlari uchun.

In [22]:
df["aholisi"] # Series obyekti

Boʻlinishi
Andijon viloyati                 1899000.0
Buxoro viloyati                  1384700.0
Fargʻona viloyati                2597000.0
Jizzax viloyati                   910500.0
Xorazm viloyati                  1200000.0
Namangan viloyati                1862000.0
Navoiy viloyati                   767500.0
Qashqadaryo viloyati             2029000.0
Qoraqalpogʻiston Respublikasi    1200000.0
Samarqand viloyati               2322000.0
Sirdaryo viloyati                 648100.0
Surxondaryo viloyati             1676000.0
Toshkent viloyati                4450000.0
Name: aholisi, dtype: float64

In [23]:
df["aholisi"].argmin() # eng kichik qiymatli element tartib raqami

10

In [24]:
df.iloc[10]

maydoni      5100.0
aholisi    648100.0
Name: Sirdaryo viloyati, dtype: float64

#`argmax` - eng katta qiymatga ega elementning tartib raqami. Faqat Series obyektlari uchun.

In [25]:
df["aholisi"].argmax() # eng kichik qiymatli element tartib raqami

12

In [26]:
df.iloc[12]

maydoni      15300.0
aholisi    4450000.0
Name: Toshkent viloyati, dtype: float64