<a href="https://colab.research.google.com/github/omullaboyev/data-science/blob/main/2_1_5_Pandas_DataFrame_Columns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science va Sun'iy Intellekt Praktikum

#Ma'lumotlar Tahlili. Pandas kutubxonasi

**2.1 Pandas kutubxonasi bilan ishlash.**

**2.1.5 `DataFrame` ustunlari (columns)**

In [2]:
import pandas as pd # pandas kutubxonasini chaqirish

Lug'at yaratamiz

In [3]:
# data
data = {
        "Yil": [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
        "Aholi soni": [33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
        "Temp": [1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53]
} # Yillar bo'yicha O'zbekiston aholisining soni va o'sish tempi lug'ati

Lug'atdan DataFrame yaratish (ustunlar ketma-ketligi lug'atda qanday bo'lsa shunday)

In [8]:
df = pd.DataFrame(data) # Lug'atdan dataframe yaratish (ustunlar ketma-ketligi lug'atda qanday bo'lsa shunday)

In [9]:
df

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56
3  2018        32.5  1.62
4  2017        31.9  1.65
5  2016        31.4  1.66
6  2015        30.9  1.64
7  2010        28.5  1.53

#`columns` - Ustunlar ketma ketligini belgilash

In [10]:
df = pd.DataFrame(data, columns=["Yil", "Temp", "Aholi soni"]) # DataFrame yaratishda ustunlar ketma-ketligini o'zimiz belgiladik

In [12]:
df.head()

    Yil  Temp  Aholi soni
0  2021  1.54        33.9
1  2020  1.48        33.5
2  2019  1.56        32.9
3  2018  1.62        32.5
4  2017  1.65        31.9

#Mavjud bo'lmagan ustun nomini berish

In [13]:
df = pd.DataFrame(data, columns=["Yil", "Temp", "Aholi soni", "YAIM"]) # DataFrame yaratishda ustunlar ketma-ketligini o'zimiz belgiladik, lug'atda mavjud bo'lmagan ustun nomi qo'shdik

In [14]:
df

    Yil  Temp  Aholi soni YAIM
0  2021  1.54        33.9  NaN
1  2020  1.48        33.5  NaN
2  2019  1.56        32.9  NaN
3  2018  1.62        32.5  NaN
4  2017  1.65        31.9  NaN
5  2016  1.66        31.4  NaN
6  2015  1.64        30.9  NaN
7  2010  1.53        28.5  NaN

#index - DataFrame yaratishda indekslarni belgilash

In [21]:
df = pd.DataFrame(data, columns=["Yil", "Temp", "Aholi soni", "YAIM"], index = [21, 20, 19, 18, 17, 16, 15, 10]) # DataFrame yaratishda indekslarni o'zimiz ko'rsatdik

In [22]:
df

     Yil  Temp  Aholi soni YAIM
21  2021  1.54        33.9  NaN
20  2020  1.48        33.5  NaN
19  2019  1.56        32.9  NaN
18  2018  1.62        32.5  NaN
17  2017  1.65        31.9  NaN
16  2016  1.66        31.4  NaN
15  2015  1.64        30.9  NaN
10  2010  1.53        28.5  NaN

#Alohida ustunga murojaat qilish

In [24]:
df["Aholi soni"] # df nin faqat "Aholi soni" ustunini ko'rish

21    33.9
20    33.5
19    32.9
18    32.5
17    31.9
16    31.4
15    30.9
10    28.5
Name: Aholi soni, dtype: float64

#DataFrame ning alohida bitta ustunining toifasi `Series` bo'ladi

In [25]:
aholi = df["Aholi soni"]

In [27]:
aholi

21    33.9
20    33.5
19    32.9
18    32.5
17    31.9
16    31.4
15    30.9
10    28.5
Name: Aholi soni, dtype: float64

In [28]:
type(aholi)

pandas.core.series.Series

#Agar ustun nomi pythondagi o'zgaruvchilarga qo'yilgan talablarga javob bersa unga to'g'ridan to'g'ri (paramertr ko'rinishida) murojaat qilish ham mumkin.

In [30]:
df.Temp # df DataFramening "Temp" uztuniga df.Temp (parametr kabi) murojaat qilsa bo'ladi

21    1.54
20    1.48
19    1.56
18    1.62
17    1.65
16    1.66
15    1.64
10    1.53
Name: Temp, dtype: float64

In [32]:
df.Yil # df DataFramening "Yil" uztuniga df.Yil (parametr kabi) murojaat qilsa bo'ladi

21    2021
20    2020
19    2019
18    2018
17    2017
16    2016
15    2015
10    2010
Name: Yil, dtype: int64

#Ustunning qiymatlarini o'zgartirish

In [33]:
df

     Yil  Temp  Aholi soni YAIM
21  2021  1.54        33.9  NaN
20  2020  1.48        33.5  NaN
19  2019  1.56        32.9  NaN
18  2018  1.62        32.5  NaN
17  2017  1.65        31.9  NaN
16  2016  1.66        31.4  NaN
15  2015  1.64        30.9  NaN
10  2010  1.53        28.5  NaN

In [35]:
df.YAIM = 0 # df ning "YAIM" ustunidagi barcha qiymatlarni 0 ga o'zgartirish

In [36]:
df

     Yil  Temp  Aholi soni  YAIM
21  2021  1.54        33.9     0
20  2020  1.48        33.5     0
19  2019  1.56        32.9     0
18  2018  1.62        32.5     0
17  2017  1.65        31.9     0
16  2016  1.66        31.4     0
15  2015  1.64        30.9     0
10  2010  1.53        28.5     0

#Ma'lum bir qiymatlarni o'zgartirish uchun `Series` dan foydalanamiz

In [37]:
val = pd.Series([1700, 1650, 1300], index = [21, 20, 10]) # 21, 20, 10 yillar uchun qiymatlar kiritdik. index ga kerakli indekslarni ko'rsatdik

In [38]:
df.YAIM = val # df ning YAIM ustunidagi qiymatlarni val ga o'zgartirdik

In [39]:
df

     Yil  Temp  Aholi soni    YAIM
21  2021  1.54        33.9  1700.0
20  2020  1.48        33.5  1650.0
19  2019  1.56        32.9     NaN
18  2018  1.62        32.5     NaN
17  2017  1.65        31.9     NaN
16  2016  1.66        31.4     NaN
15  2015  1.64        30.9     NaN
10  2010  1.53        28.5  1300.0

#Barcha qiymatlarni o'zgartirish uchun shu uzunlikdagi ro'yhat (List) ni uzatamiz

**Ro'yhat uzunligi df ustunining qatorlari soniga teng bo'lishi shart**

In [40]:
val = [1700, 1650, 1600, 1590, 1400, 1300, 1350, 1360] # ustunning barcha elementlari uchun ro'yhat tayyorladik

In [41]:
df.YAIM = val # df ning YAIM ustuni qiymatlarini val ro'yhati ga almashtirdik

In [42]:
df

     Yil  Temp  Aholi soni  YAIM
21  2021  1.54        33.9  1700
20  2020  1.48        33.5  1650
19  2019  1.56        32.9  1600
18  2018  1.62        32.5  1590
17  2017  1.65        31.9  1400
16  2016  1.66        31.4  1300
15  2015  1.64        30.9  1350
10  2010  1.53        28.5  1360

#DataFrame ga yangi ustun qo'shish

In [43]:
df["1500+"] = df.YAIM > 1500 # df.YAIM 1500 dan katta bo'lsa True, aks holda False qiymatlari bo'lgan "1500+" nomli ustun qo'shdik

In [44]:
df

     Yil  Temp  Aholi soni  YAIM  1500+
21  2021  1.54        33.9  1700   True
20  2020  1.48        33.5  1650   True
19  2019  1.56        32.9  1600   True
18  2018  1.62        32.5  1590   True
17  2017  1.65        31.9  1400  False
16  2016  1.66        31.4  1300  False
15  2015  1.64        30.9  1350  False
10  2010  1.53        28.5  1360  False

#Ustunlarni o'chirish

**Huddi lug'at bilan ishlaganday uztunlarni o'chirish mumkin**

In [45]:
del df["1500+"] # df ning "1500+" ustunini o'chirish

In [46]:
df

     Yil  Temp  Aholi soni  YAIM
21  2021  1.54        33.9  1700
20  2020  1.48        33.5  1650
19  2019  1.56        32.9  1600
18  2018  1.62        32.5  1590
17  2017  1.65        31.9  1400
16  2016  1.66        31.4  1300
15  2015  1.64        30.9  1350
10  2010  1.53        28.5  1360