<a href="https://colab.research.google.com/github/omullaboyev/data-science/blob/main/2_1_14_Pandas_UsingFunctions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science va Sun'iy Intellekt Praktikum

Ma'lumotlar Tahlili. Pandas kutubxonasi

2.1 Pandas kutubxonasi bilan ishlash.

2.1.14 Pandas obyekti elementlariga funksiyalarni qo'llash

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.random.randn(3, 4), index = list("abc"), columns = ["Olma", "Anor", "Qovun", "Anjir"])
df

       Olma      Anor     Qovun     Anjir
a -0.565162 -1.274727 -0.022798  2.144151
b -0.179773 -0.816861  0.263601 -1.727007
c -1.443683 -0.042873 -0.323427 -0.792112

# `np.abs` - absolyut qiymat. DataFramening barcha elementlarining absolyut qiymati. DataFrame o'zgarmaydi.

In [4]:
np.abs(df) # df ning barcha elementlarining absolyut qiymati

       Olma      Anor     Qovun     Anjir
a  0.565162  1.274727  0.022798  2.144151
b  0.179773  0.816861  0.263601  1.727007
c  1.443683  0.042873  0.323427  0.792112

#`np.round` - yaxlitlash. DataFramening barcha elementlarini yaxlitlaydi. DataFrame o'zgarmaydi.

In [5]:
np.round(df) # df ning barcha elementlarini yaxlitlash

   Olma  Anor  Qovun  Anjir
a  -1.0  -1.0   -0.0    2.0
b  -0.0  -1.0    0.0   -2.0
c  -1.0  -0.0   -0.0   -1.0

In [7]:
df # asl DataFrame o'zgarmadi

       Olma      Anor     Qovun     Anjir
a -0.565162 -1.274727 -0.022798  2.144151
b -0.179773 -0.816861  0.263601 -1.727007
c -1.443683 -0.042873 -0.323427 -0.792112

#`DataFrame.mean` - o'rtacha qiymat. Default - by column.

In [8]:
df.mean() # df ning ustunlar bo'yicha o'rtacha qiymati

Olma    -0.729539
Anor    -0.711487
Qovun   -0.027541
Anjir   -0.124989
dtype: float64

In [9]:
df.mean(axis = 1) # df ning qatorlar bo'yicha o'rtacha qiymati

a    0.070366
b   -0.615010
c   -0.650524
dtype: float64

#`DataFrame.apply` - kerakli funksiyani qo'llash

In [11]:
df.apply(np.abs) # Numpy dagi abs (absolyut qiymat) funksiyasini qo'llash

       Olma      Anor     Qovun     Anjir
a  0.565162  1.274727  0.022798  2.144151
b  0.179773  0.816861  0.263601  1.727007
c  1.443683  0.042873  0.323427  0.792112

In [12]:
df.apply(np.round) # Numpy dagi round (yaxlitlash) funksiyasini qo'llash

   Olma  Anor  Qovun  Anjir
a  -1.0  -1.0   -0.0    2.0
b  -0.0  -1.0    0.0   -2.0
c  -1.0  -0.0   -0.0   -1.0

In [14]:
df.apply(sum) # qatorlar bo'yicha yig'indi

Olma    -2.188618
Anor    -2.134460
Qovun   -0.082623
Anjir   -0.374968
dtype: float64

In [15]:
df.apply(sum, axis = 1) # ustunlar bo'yicha yig'indi

a    0.281464
b   -2.460039
c   -2.602094
dtype: float64

In [16]:
# lambda funksiya
f = lambda x: x.max() - x.min()

In [17]:
df.apply(f) # yuqorida yozilgan lambda funksiyani qo'llaymiz

Olma     1.263910
Anor     1.231854
Qovun    0.587028
Anjir    3.871157
dtype: float64

In [18]:
df.apply(lambda x: x.max() - x.min()) # lambda funksiyani apply yoprdamida qo'llash

Olma     1.263910
Anor     1.231854
Qovun    0.587028
Anjir    3.871157
dtype: float64

In [22]:
# eng kichik va eng katta qiymatlarni Series obyekti ko'rinishida qauytaradi
def foo(x):
  return pd.Series([x.min(), x.max()], index = ["min", "max"])

In [23]:
df.apply(foo) # foo funksiyamizni qo'llaymiz

         Olma      Anor     Qovun     Anjir
min -1.443683 -1.274727 -0.323427 -1.727007
max -0.179773 -0.042873  0.263601  2.144151

#`DataFrame.applymap` DataFrame nin har bir elementi uchun funksiya qo'llash

In [24]:
df = pd.DataFrame(np.arange(1, 13).reshape(3, 4), index = list("abc"), columns = ["Olma", "Anor", "Qovun", "Anjir"])
df

   Olma  Anor  Qovun  Anjir
a     1     2      3      4
b     5     6      7      8
c     9    10     11     12

In [27]:
df.applymap(lambda x: x*x) # df ning har bir elementi kvadrati

   Olma  Anor  Qovun  Anjir
a     1     4      9     16
b    25    36     49     64
c    81   100    121    144