<a href="https://colab.research.google.com/github/omullaboyev/data-science/blob/main/2_1_6_Pandas_Indexes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science va Sun'iy Intellekt Praktikum

Ma'lumotlar Tahlili. Pandas kutubxonasi

*2.1* Pandas kutubxonasi bilan ishlash.

**2.1.6 Indekslar**

In [3]:
import pandas as pd

Lug'at yaratib olamiz

In [7]:
# data
data = {
        "Yil": [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
        "Aholi soni": [33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
        "Temp": [1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53]
} # Yillar bo'yicha O'zbekiston aholisining soni va o'sish tempi lug'ati

In [26]:
# data
data2 = {
        "Uzbekistan": {2021:33.9, 2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9}, # O'zbekiston lug'ati
        "Kazakhstan": {2021:18.9, 2020:18.7, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8} # Qozog'iston lug'ati
} # Lug'atlar lug'ati yaratydik

Lug'atdan DataFrame yaratish (ustunlar ketma-ketligi lug'atda qanday bo'lsa shunday)

In [8]:
df = pd.DataFrame(data) # Lug'atdan dataframe yaratish (ustunlar ketma-ketligi lug'atda qanday bo'lsa shunday)

In [30]:
df2 = pd.DataFrame(data2) # Lug'atlar lug'atidan DataFrame yaratdik

In [10]:
df

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56
3  2018        32.5  1.62
4  2017        31.9  1.65
5  2016        31.4  1.66
6  2015        30.9  1.64
7  2010        28.5  1.53

In [31]:
df2

      Uzbekistan  Kazakhstan
2021        33.9        18.9
2020        33.5        18.7
2019        32.9        18.5
2018        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8

Yangi ustun qo'shdik

In [16]:
df = pd.DataFrame(data, columns=["Yil", "Temp", "Aholi soni", "YAIM"], index = [21, 20, 19, 18, 17, 16, 15, 10]) # DataFrame yaratishda indekslarni o'zimiz ko'rsatdik

In [17]:
df

     Yil  Temp  Aholi soni YAIM
21  2021  1.54        33.9  NaN
20  2020  1.48        33.5  NaN
19  2019  1.56        32.9  NaN
18  2018  1.62        32.5  NaN
17  2017  1.65        31.9  NaN
16  2016  1.66        31.4  NaN
15  2015  1.64        30.9  NaN
10  2010  1.53        28.5  NaN

In [18]:
val = [1700, 1650, 1600, 1590, 1400, 1300, 1350, 1360] # ustunning barcha elementlari uchun ro'yhat tayyorladik

In [19]:
df.YAIM = val # df ning YAIM ustuni qiymatlarini val ro'yhati ga almashtirdik

In [20]:
df

     Yil  Temp  Aholi soni  YAIM
21  2021  1.54        33.9  1700
20  2020  1.48        33.5  1650
19  2019  1.56        32.9  1600
18  2018  1.62        32.5  1590
17  2017  1.65        31.9  1400
16  2016  1.66        31.4  1300
15  2015  1.64        30.9  1350
10  2010  1.53        28.5  1360

In [21]:
df.index

Int64Index([21, 20, 19, 18, 17, 16, 15, 10], dtype='int64')

In [22]:
df.columns

Index(['Yil', 'Temp', 'Aholi soni', 'YAIM'], dtype='object')

In [23]:
indeks = df.columns

In [24]:
indeks

Index(['Yil', 'Temp', 'Aholi soni', 'YAIM'], dtype='object')

In [25]:
"Temp" in indeks

True

In [32]:
df2 = pd.DataFrame(data2, index = [2021, 2019, 2017]) # Lug'atlar lug'atidan faqatgina 2021, 2019, 2017 indeksli ma'lumotlarni saralab olib DataFrame yaratdik

In [33]:
df2

      Uzbekistan  Kazakhstan
2021        33.9        18.9
2019        32.9        18.5
2017        31.9        18.1

In [ ]:
df2 DataFrasme da Tojikiston nomli ustun bormi?

In [34]:
"Tajikistan" in df2.columns

False

df2 da 2021 indeksli qator bormi?

In [35]:
2021 in df2.index

True

Indekslar bilan xuddi ro'yhatlar bilan ishlaganday ishlash mumkin. Yagona farqi: indeksning qiymatini o'zgartirib bo'lmaydi.

In [36]:
indeks

Index(['Yil', 'Temp', 'Aholi soni', 'YAIM'], dtype='object')

In [37]:
indeks[0]

'Yil'

In [39]:
indeks[2:4]

Index(['Aholi soni', 'YAIM'], dtype='object')

In [40]:
# data
data1 = {
        "Uzbekistan": {2021:33.9, 2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9}, # O'zbekiston lug'ati
        "Kazakhstan": {2021:18.9, 2020:18.7, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8} # Qozog'iston lug'ati
} # Lug'atlar lug'ati yaratydik
df = pd.DataFrame(data1)

In [41]:
df

      Uzbekistan  Kazakhstan
2021        33.9        18.9
2020        33.5        18.7
2019        32.9        18.5
2018        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8