<a href="https://colab.research.google.com/github/omullaboyev/data-science/blob/main/2_1_7Pandas_IndexMethods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science va Sun'iy Intellekt Praktikum

Ma'lumotlar Tahlili. Pandas kutubxonasi

2.1 Pandas kutubxonasi bilan ishlash.

2.1.1 Indeks metodlari

In [1]:
import pandas as pd

Lug'atlar lug'atini yaratib olamiz

In [2]:
# data
usernames = {"anvar": "anvarbek223", "olim": "olimtoy", "maryam": "mary334455", "javohir": "javohir445"} # usernames lug'ati
emails = {"anvar": "anvar@gmail.com", "olim": "olim@mail.ru", "maryam": "mary33@gmail.com", "javohir": "javohir445@gmail.com"} # emails lug'ati
          
data = {
        "username": usernames,
        "email": emails
        } # usernames va emails lug'atlaridan tashkil topgan data lug'ati
df = pd.DataFrame(data) # data lug'atidan df DataFrame yaratamiz

In [3]:
df

            username                 email
anvar    anvarbek223       anvar@gmail.com
olim         olimtoy          olim@mail.ru
maryam    mary334455      mary33@gmail.com
javohir   javohir445  javohir445@gmail.com

**DataFrame da indekslar takrorlanishi mumkin**

In [4]:
df.index

Index(['anvar', 'olim', 'maryam', 'javohir'], dtype='object')

**Ro'yhat (List) larda esa indeks takrorlanmaydi.**

In [5]:
arr = ['anvar', 'olim', 'maryam', 'javohir']

In [6]:
arr[0]

'anvar'

In [7]:
arr[1]

'olim'

In [19]:
data2 = {
    "username": {"olim": "olimjon21", "maryam": "maryam2020"}, # username lug'ati
    "email": {"olim": "olimjon21@mail.ru", "maryam": "maryam20@gmail.com"} # email lug'ati
    
} # username va email lug'atlaridan tashkil topgan data2 lug'ati

#`append` metodi

In [20]:
df2 = df.append(pd.DataFrame(data2)) # df DataFrame ga data2 lug'atini qo'shib df2 DataFrame yaratdik

In [21]:
df2

            username                 email
anvar    anvarbek223       anvar@gmail.com
olim         olimtoy          olim@mail.ru
maryam    mary334455      mary33@gmail.com
javohir   javohir445  javohir445@gmail.com
olim       olimjon21     olimjon21@mail.ru
maryam    maryam2020    maryam20@gmail.com

In [22]:
newind = pd.Index(["olim", "nafisa", "hamida"])
newind

Index(['olim', 'nafisa', 'hamida'], dtype='object')

#`isin` metodi. Bir indeks boshqa indeksning ichida bormi?

In [23]:
newind.isin(df2.index)

array([ True, False, False])

#`difference` metodi. Indekslar orasidagi farqni topish.

In [24]:
df2.index.difference(newind)

Index(['anvar', 'javohir', 'maryam'], dtype='object')

In [25]:
newind.difference(df2.index)

Index(['hamida', 'nafisa'], dtype='object')

#`union` metodi. Indekslar elementlarini jamlash.

In [26]:
df2.index.union(newind)

Index(['anvar', 'hamida', 'javohir', 'maryam', 'maryam', 'nafisa', 'olim',
       'olim'],
      dtype='object')

#`delete` metodi. Indeksdagi biron bir elementni o'chirish.

In [27]:
df2.index.delete(0)

Index(['olim', 'maryam', 'javohir', 'olim', 'maryam'], dtype='object')

#`drop` metodi. Indeksning ma'lum bir elementini tashlab yurborish (element qiymati orqali)

In [28]:
newind.drop("hamida")

Index(['olim', 'nafisa'], dtype='object')

#`insert` metodi. Indeksga yangi element qo'shish.

In [29]:
df2.index.insert(5, "masha") # 5-o'ringa mashani qo'shish

Index(['anvar', 'olim', 'maryam', 'javohir', 'olim', 'masha', 'maryam'], dtype='object')

#`is_monotonic` metodi - Indeksning elementlari bir xilmi?

In [31]:
df2.index.is_monotonic # df2 ning indexlari bir xil emas

False

#`is_unique` metodi - Indeksning elementlari turfami?

In [34]:
df2.index.is_unique # df2 ning indexlari turlicha emas

False

In [33]:
newind.is_unique # newindning barcha elementlari turlicha

True

#`unique` metodi - Indeksning takrorlanmas elementlari

In [35]:
df2.index.unique()

Index(['anvar', 'olim', 'maryam', 'javohir'], dtype='object')

In [36]:
newind.unique()

Index(['olim', 'nafisa', 'hamida'], dtype='object')