<a href="https://colab.research.google.com/github/omullaboyev/data-science/blob/main/2_1_12_Pandas_loc_iloc_at_iat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science va Sun'iy Intellekt Praktikum

Ma'lumotlar Tahlili. Pandas kutubxonasi

2.1 Pandas kutubxonasi bilan ishlash.

**2.1.11 .loc/.iloc va .at/.iat**

In [30]:
import pandas as pd
import numpy as np

In [2]:
# data - lug'atlar
uz = {2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9, 2016:31.4, 2015:30.9} # lug'at
kz = {2020:18.8, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8, 2015:17.6} # lug'at
tj = {2020:9.5, 2019:9.3, 2018:9.1, 2017:8.9, 2016:8.7, 2015:8.5} # lug'at
kg = {2020:6.5, 2019:6.4, 2018:6.3, 2017:6.2, 2016:6.1, 2015:6.0} # lug'at
tr = {2020:6.0, 2019:5.9, 2018:5.9, 2017:5.8, 2016:5.6, 2015:5.6} # lug'at

df = pd.DataFrame(
    {"Uzbekistan": uz,
     "Kazakhstan": kz,
     "Tadjikistan": tj,
     "Kyrgistan": kg,
     "Turkmenistan": tr
    }) # Lug'atlardan tashkil topgan lug'atdan DataFrame yaratdik.

In [3]:
df

      Uzbekistan  Kazakhstan  Tadjikistan  Kyrgistan  Turkmenistan
2020        33.5        18.8          9.5        6.5           6.0
2019        32.9        18.5          9.3        6.4           5.9
2018        32.5        18.3          9.1        6.3           5.9
2017        31.9        18.1          8.9        6.2           5.8
2016        31.4        17.8          8.7        6.1           5.6
2015        30.9        17.6          8.5        6.0           5.6

In [4]:
df[["Kazakhstan"]] # Kazakhstan ustunini ajratib olish

      Kazakhstan
2020        18.8
2019        18.5
2018        18.3
2017        18.1
2016        17.8
2015        17.6

#`.loc` - kerakli indeksdagi qatorni ajratib olish

In [5]:
df.loc[[2017]] # 2017 indeksli qatorni ajratib olish

      Uzbekistan  Kazakhstan  Tadjikistan  Kyrgistan  Turkmenistan
2017        31.9        18.1          8.9        6.2           5.8

In [6]:
df.loc[[2020]] # 2020 indeksli qatorni ajratib olish

      Uzbekistan  Kazakhstan  Tadjikistan  Kyrgistan  Turkmenistan
2020        33.5        18.8          9.5        6.5           6.0

In [7]:
df.loc[[2018, 2020]] # 2018 va 2020 indeksli qatorni ajratib olish

      Uzbekistan  Kazakhstan  Tadjikistan  Kyrgistan  Turkmenistan
2018        32.5        18.3          9.1        6.3           5.9
2020        33.5        18.8          9.5        6.5           6.0

In [9]:
df.loc[[2015, 2020], ["Uzbekistan", "Tadjikistan"]] # 2015, 2020 indeksli Uzbekistan, Tajikistan ustunlarini ajratib olish

      Uzbekistan  Tadjikistan
2015        30.9          8.5
2020        33.5          9.5

#`.iloc` - kerakli qatorni tartib raqami orqali ajratib olish

In [11]:
df.iloc[[0, 4]] # 0, 4 tartib raqamli qatorlarni ajratib olish

      Uzbekistan  Kazakhstan  Tadjikistan  Kyrgistan  Turkmenistan
2020        33.5        18.8          9.5        6.5           6.0
2016        31.4        17.8          8.7        6.1           5.6

In [12]:
df.iloc[[0, 4], [0, 3]] # 0, 4 tartib raqamli qatorlardagi 0, 3 tgartib raqamli ustunlarni ajratib olish

      Uzbekistan  Kyrgistan
2020        33.5        6.5
2016        31.4        6.1

In [13]:
df

      Uzbekistan  Kazakhstan  Tadjikistan  Kyrgistan  Turkmenistan
2020        33.5        18.8          9.5        6.5           6.0
2019        32.9        18.5          9.3        6.4           5.9
2018        32.5        18.3          9.1        6.3           5.9
2017        31.9        18.1          8.9        6.2           5.8
2016        31.4        17.8          8.7        6.1           5.6
2015        30.9        17.6          8.5        6.0           5.6

#`.at` - aynan bitta qiymatni indeks orqali ajratib olish

In [14]:
df.at[2015, "Uzbekistan"] # 2015 indeksli qator va Uzbekistan ustunidagi qiymat

30.9

In [16]:
df.at[2015, "Turkmenistan"] # 2015 indeksli qator va Turkmenistan ustunidagi qiymat

5.6

In [17]:
df.at[2020, "Turkmenistan"] # 2020 indeksli qator va Turkmenistan ustunidagi qiymat

6.0

In [18]:
df.at[2020, "Turkmenistan"] - df.at[2015, "Turkmenistan"] # arifmetik amal bajarish mumkin. Oxirgi 5 yilda Turkmenistan aholisi qanchaga o'sdi

0.40000000000000036

In [21]:
df.at[2020, "Uzbekistan"] - df.at[2015, "Uzbekistan"] # arifmetik amal bajarish mumkin. Oxirgi 5 yilda Uzbekistan aholisi qanchaga o'sdi

2.6000000000000014

#`.iat` - aynan bitta qiymatni tartib raqami orqali ajratib olish

In [20]:
df.iat[2, 1] # 2 tartib raqam va 1 ustundagi qiymat 2018 + Kazakstan

18.3

In [25]:
nums = list(range(10, 21))

In [26]:
nums

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [27]:
nums[0]

10

In [28]:
nums[-1] # ro'yhatning oxirgi elementi

20

**Agar Series ning indekslari sonli bo'lsa -1 orqali Seriesning oxirgi elementini o'qib bo'lmaydi**

In [32]:
obj = pd.Series(np.arange(10.))
obj

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [33]:
obj[0] # 0 orqali Series ning birinchi elementini o'qish mumkin

0.0

In [35]:
obj[-1] # Agar Series ning indekslari sonli bo'lsa -1 orqali Seriesning oxirgi elementini o'qib bo'lmaydi

KeyError: ignored

**Agar Series ning indekslari sonli bo'lmasa (matnli bo'lsa) -1 orqali Seriesning oxirgi o'qisa bo'ladi**

In [36]:
ser = pd.Series(np.arange(5.), index = ["a", "b", "c", "d", "e"])
ser

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [37]:
ser[0]

0.0

In [38]:
ser[-1]

4.0

**Shuning uchun Pandas obyektlari bilan ishlaganda `.loc`/`.iloc` yoki `.at`/`.iat` orqali o'qish tavsiya qilinadi.**

In [39]:
ser.iloc[-1]

4.0

In [40]:
obj.iloc[-1]

9.0