<a href="https://colab.research.google.com/github/omullaboyev/data-science/blob/main/2_1_19_Pandas_DataSet_Correlation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science va Sun'iy Intellekt Praktikum

Ma'lumotlar Tahlili. Pandas kutubxonasi

2.1 Pandas kutubxonasi bilan ishlash.

2.1.19 Dataset statistikasi: Korrelyasiya.

In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/merc.csv")
df

            model  year  price transmission  ...  fuelType  tax   mpg  engineSize
0             SLK  2005   5200    Automatic  ...    Petrol  325  32.1         1.8
1         S Class  2017  34948    Automatic  ...    Hybrid   20  61.4         2.1
2        SL CLASS  2016  49948    Automatic  ...    Petrol  555  28.0         5.5
3         G Class  2016  61948    Automatic  ...    Petrol  325  30.4         4.0
4         G Class  2016  73948    Automatic  ...    Petrol  325  30.1         4.0
...           ...   ...    ...          ...  ...       ...  ...   ...         ...
13114     C Class  2020  35999    Automatic  ...    Diesel  145  55.4         2.0
13115     B Class  2020  24699    Automatic  ...    Diesel  145  55.4         2.0
13116   GLC Class  2019  30999    Automatic  ...    Diesel  145  41.5         2.1
13117   CLS Class  2019  37990    Automatic  ...    Diesel  145  45.6         2.0
13118     S Class  2019  54999    Automatic  ...    Diesel  145  52.3         2.9

[13119 rows x 9 columns]

#**`Korrelyatsiya` - ikkita ma'lumot orasidagi o'xshashlik (bog'liqlik)ni tekshirish uchun ishlatiladi.**

Korrelyatsiya -1 va 1 orasida bo'ladi.
- -1: 100 % lik manfiy (biri ortsa ikkinchisi kamayadi)
- 0: korrelyatsiya yo'q
- 1: 100 foizlik musbat (biri ortsa ikkinchisiyam ortadi)

In [5]:
data = {
    "age": [10, 20, 30, 40, 50, 60],
    "year": [2010, 2000, 1990, 1980, 1970, 1960]
}

obj = pd.DataFrame(data)
obj

   age  year
0   10  2010
1   20  2000
2   30  1990
3   40  1980
4   50  1970
5   60  1960

In [6]:
obj["age"].corr(obj["year"]) # Korrelyatsiyani tekshirish

-0.9999999999999998

`-0.99999998` - Bu degani `yosh` va `yil` ustunlari orasidagi bo'g'liqlik deyarli 100% degani. "-" Manfiy bog'liqlik.
- `Manfiy bog'liqlik` - bittasi ortsa ikkinchisi kamayadi degani.
- `Musbat bog'liqlik` - bittasi ortsa ikkinchisi ham ortadi, kamaysa kamayadi degani.

# Mashinaning ishlab chiqilgan yili (year) va bosib o'tgan yo'li (milage) orasida bog'liqlik bor.

In [10]:
df["year"].corr(df["mileage"]) # year va mileage orasidagi bog'liqlik

-0.7380268515364232

Year va mileage orasida ham manfiy korrelyatsiya bor va u -0.73

In [11]:
df["price"].corr(df["mileage"]) # price va mileage orasidagi bog'liqlik

-0.537214124104646

-0.53  demak narhi oshgan sari kilometraji kamayadi yoki kilometraj oshgan sari narxi tushadi.

In [12]:
df["price"].corr(df["engineSize"]) # price va engineSize orasidagi bog'liqlik

0.5161257786169436

0.51 - Musbat bo'g'liqlik. Narhi oshgan sari motor hajmi hamn ortadi, yoki aksincha, motor hajmi ortgan sari narhi ham ortadi.

#`corr` - Barcha ustunlarni bir biri bilan solishtirish

In [13]:
df.corr() # df ning barcha ustunlarini bir-biri bilan solishtiradi.

                year     price   mileage       tax       mpg  engineSize
year        1.000000  0.520712 -0.738027  0.012480 -0.094626   -0.142147
price       0.520712  1.000000 -0.537214  0.268717 -0.438445    0.516126
mileage    -0.738027 -0.537214  1.000000 -0.160223  0.202850    0.063652
tax         0.012480  0.268717 -0.160223  1.000000 -0.513742    0.338341
mpg        -0.094626 -0.438445  0.202850 -0.513742  1.000000   -0.339862
engineSize -0.142147  0.516126  0.063652  0.338341 -0.339862    1.000000

#`corrwith` - barcha ustunlarni bitta ustun bilan solishtirish

In [14]:
df.corrwith(df["price"]) # barcha ustunlarni price ustuni bilan solishtiramiz

year          0.520712
price         1.000000
mileage      -0.537214
tax           0.268717
mpg          -0.438445
engineSize    0.516126
dtype: float64