<a href="https://colab.research.google.com/github/omullaboyev/data-science/blob/main/2_1_2_Pandas_Series_from_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science va Sun'iy Intellekt Praktikum

#Ma'lumotlar Tahlili. Pandas kutubxonasi.

2.1 Pandas kutubxonasi bilan ishlash.

2.1.2 Lug'atdan Series yaratish

In [3]:
import pandas as pd # pandas kutubxonasini chaqirish

In [2]:
import numpy as np # numpy kutubxonasini chaqirish

In [5]:
from pandas import Series # Series

Series toifali obyekt yaratish

In [6]:
obj2 = Series([6, 3, 2, 1], index = ['a', 'b', 'c', 'd'])

In [7]:
obj2

a    6
b    3
c    2
d    1
dtype: int64

In [8]:
obj2['a']

6

In [9]:
# Lug'at (dictionary)
cars_dict = {"Malibu": 40000, "Lacetti": 20000, "Toyota": 45000, "Mazda": 52000, "Honda": 38000}

In [10]:
type(cars_dict)

dict

Lug'atdan Series toifali obyect yaratish

In [11]:
cars1 = Series(cars_dict) # cars_dict lug'atidan cars1 obyektini yaratish

In [12]:
cars1

Malibu     40000
Lacetti    20000
Toyota     45000
Mazda      52000
Honda      38000
dtype: int64

In [13]:
type(cars1)

pandas.core.series.Series

In [17]:
cars1 = Series({"Malibu": 40000, "Lacetti": 20000, "Toyota": 45000, "Mazda": 52000, "Honda": 38000}) # object yaratishda to'g'ridan to'g'ri lug'at uzatish mumkin

In [18]:
cars1

Malibu     40000
Lacetti    20000
Toyota     45000
Mazda      52000
Honda      38000
dtype: int64

Mantiqiy amallar

In [20]:
"Malibu" in cars1 # cars1 nind ichida Malibu bormi? - True

True

In [22]:
"BMW" in cars1 # cars1 nin ichida BMW bormi? - False

False

In [23]:
cars1["Toyota"]

45000

Yangi tartibdagi indekslar bilan Series yaratish

In [27]:
models = ["Honda", "Mazda", "Lacetti", "Jaguar", "Malibu", "Toyota", "BMW", "Mercedes"]

In [28]:
cars2 = Series(cars_dict, index = models)

In [29]:
cars2

Honda       38000.0
Mazda       52000.0
Lacetti     20000.0
Jaguar          NaN
Malibu      40000.0
Toyota      45000.0
BMW             NaN
Mercedes        NaN
dtype: float64