<a href="https://colab.research.google.com/github/omullaboyev/data-science/blob/main/2_1_11_DataFrame_ElementsChoose.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science va Sun'iy Intellekt Praktikum

Ma'lumotlar Tahlili. Pandas kutubxonasi

2.1 Pandas kutubxonasi bilan ishlash.

2.1.11 DataFrame - Elementlarni Tanlash

In [1]:
import pandas as pd

In [5]:
# data - lug'atlar
uz = {2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9, 2016:31.4, 2015:30.9} # lug'at
kz = {2020:18.8, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8, 2015:17.6} # lug'at
tj = {2020:9.5, 2019:9.3, 2018:9.1, 2017:8.9, 2016:8.7, 2015:8.5} # lug'at
kg = {2020:6.5, 2019:6.4, 2018:6.3, 2017:6.2, 2016:6.1, 2015:6.0} # lug'at
tr = {2020:6.0, 2019:5.9, 2018:5.9, 2017:5.8, 2016:5.6, 2015:5.6} # lug'at

df = pd.DataFrame(
    {"Uzbekistan": uz,
     "Kazakhstan": kz,
     "Tadjikistan": tj,
     "Kyrgistan": kg,
     "Turkmenistan": tr
    }) # Lug'atlardan tashkil topgan lug'atdan DataFrame yaratdik.

In [4]:
df

      Uzbekistan  Kazakhstan  Tadjikistan  Kyrgistan  Turkmenistan
2020        33.5        18.8          9.5        6.5           6.0
2019        32.9        18.5          9.3        6.4           5.9
2018        32.5        18.3          9.1        6.3           5.9
2017        31.9        18.1          8.9        6.2           5.8
2016        31.4        17.8          8.7        6.1           5.6
2015        30.9        17.6          8.5        6.0           5.6

#Ustunlar bo'yicha tanlab olish

In [6]:
df["Uzbekistan"] # faqat Uzbekistanga tegisli ma'lumotlarni Series ko'rinishida qaytaradi

2020    33.5
2019    32.9
2018    32.5
2017    31.9
2016    31.4
2015    30.9
Name: Uzbekistan, dtype: float64

In [7]:
df[["Uzbekistan"]] # faqat Uzbekistanga tegisli ma'lumotlarni DataFrame ko'rinishida qaytaradi

      Uzbekistan
2020        33.5
2019        32.9
2018        32.5
2017        31.9
2016        31.4
2015        30.9

#Tanlab olingan ustunlarni NumPy Array ga aylantirish

In [8]:
df["Uzbekistan"].to_numpy() # faqat Uzbekistanga tegisli ma'lumotlarni avval Series ko'rinishiga keltirib, keyin numpy array qaytaradi

array([33.5, 32.9, 32.5, 31.9, 31.4, 30.9])

In [9]:
df[["Uzbekistan"]].to_numpy() # faqat Uzbekistanga tegisli ma'lumotlarni DataFrame ko'rinishiga keltirib, keyin numpy array qaytaradi

array([[33.5],
       [32.9],
       [32.5],
       [31.9],
       [31.4],
       [30.9]])

#Bir nechta ustunlarni tanlab olish

In [10]:
df[["Uzbekistan", "Turkmenistan"]] # faqat Uzbekistanga tegisli ma'lumotlarni DataFrame ko'rinishida qaytaradi

      Uzbekistan  Turkmenistan
2020        33.5           6.0
2019        32.9           5.9
2018        32.5           5.9
2017        31.9           5.8
2016        31.4           5.6
2015        30.9           5.6

#Tartib raqam bo'yicha qatorlarni tanlab olish

In [11]:
df[3:] # 3 tartib raqamda turgan lementdan boshlab oxirigacha

      Uzbekistan  Kazakhstan  Tadjikistan  Kyrgistan  Turkmenistan
2017        31.9        18.1          8.9        6.2           5.8
2016        31.4        17.8          8.7        6.1           5.6
2015        30.9        17.6          8.5        6.0           5.6

In [12]:
df

      Uzbekistan  Kazakhstan  Tadjikistan  Kyrgistan  Turkmenistan
2020        33.5        18.8          9.5        6.5           6.0
2019        32.9        18.5          9.3        6.4           5.9
2018        32.5        18.3          9.1        6.3           5.9
2017        31.9        18.1          8.9        6.2           5.8
2016        31.4        17.8          8.7        6.1           5.6
2015        30.9        17.6          8.5        6.0           5.6

#Filtr

In [14]:
df > 10 # ahioli soni 10 mlndan katta bo'lgan davlatlar va yillar

      Uzbekistan  Kazakhstan  Tadjikistan  Kyrgistan  Turkmenistan
2020        True        True        False      False         False
2019        True        True        False      False         False
2018        True        True        False      False         False
2017        True        True        False      False         False
2016        True        True        False      False         False
2015        True        True        False      False         False

In [15]:
df > 7 # aholi soni 7 mlndan katta bo'lgan davlatlar va yillar

      Uzbekistan  Kazakhstan  Tadjikistan  Kyrgistan  Turkmenistan
2020        True        True         True      False         False
2019        True        True         True      False         False
2018        True        True         True      False         False
2017        True        True         True      False         False
2016        True        True         True      False         False
2015        True        True         True      False         False

In [16]:
df > 6.3 # aholi soni 6.3 mlndan katta bo'lgan davlatlar va yillar

      Uzbekistan  Kazakhstan  Tadjikistan  Kyrgistan  Turkmenistan
2020        True        True         True       True         False
2019        True        True         True       True         False
2018        True        True         True      False         False
2017        True        True         True      False         False
2016        True        True         True      False         False
2015        True        True         True      False         False

In [18]:
df[["Uzbekistan"]][df["Uzbekistan"] > 32] # Uzbekistanning aholisi 32 mln dan katta bo'lgan yillar

      Uzbekistan
2020        33.5
2019        32.9
2018        32.5

In [19]:
dfuz = df[["Uzbekistan"]] # df dan faqatgina Uzbekistanni ajratib yandi dfuz DataFrame ga yozdik

In [20]:
dfuz

      Uzbekistan
2020        33.5
2019        32.9
2018        32.5
2017        31.9
2016        31.4
2015        30.9

In [21]:
dfuz[dfuz["Uzbekistan"] > 32] # Uzbekistanning aholisi 32 mln dan katta bo'lgan yillar. Bu yerda dfuz["Uzbekistan"] => Series

      Uzbekistan
2020        33.5
2019        32.9
2018        32.5

In [22]:
dfuz["Uzbekistan"] > 32 # Series

2020     True
2019     True
2018     True
2017    False
2016    False
2015    False
Name: Uzbekistan, dtype: bool

In [23]:
df

      Uzbekistan  Kazakhstan  Tadjikistan  Kyrgistan  Turkmenistan
2020        33.5        18.8          9.5        6.5           6.0
2019        32.9        18.5          9.3        6.4           5.9
2018        32.5        18.3          9.1        6.3           5.9
2017        31.9        18.1          8.9        6.2           5.8
2016        31.4        17.8          8.7        6.1           5.6
2015        30.9        17.6          8.5        6.0           5.6

#Transpose - DataFrame ni "aylantirish". copy = True ichidagi ma'lumotlarni ko'chirib o'tkazish

In [26]:
df2 = df.transpose(copy = True) # Davlat nomlari - Indeks, Yillar - ustunlar
df2

              2020  2019  2018  2017  2016  2015
Uzbekistan    33.5  32.9  32.5  31.9  31.4  30.9
Kazakhstan    18.8  18.5  18.3  18.1  17.8  17.6
Tadjikistan    9.5   9.3   9.1   8.9   8.7   8.5
Kyrgistan      6.5   6.4   6.3   6.2   6.1   6.0
Turkmenistan   6.0   5.9   5.9   5.8   5.6   5.6

In [30]:
df2[df2[2015] > 6] # df2 dan 2015 yilda aholisi 6 mln dan ko'p bo'lgan davlatlar

             2020  2019  2018  2017  2016  2015
Uzbekistan   33.5  32.9  32.5  31.9  31.4  30.9
Kazakhstan   18.8  18.5  18.3  18.1  17.8  17.6
Tadjikistan   9.5   9.3   9.1   8.9   8.7   8.5

In [31]:
df2[df2[2015] < 8] # df2 dan 2015 yilda aholisi 8 mln dan kam bo'lgan davlatlar

              2020  2019  2018  2017  2016  2015
Kyrgistan      6.5   6.4   6.3   6.2   6.1   6.0
Turkmenistan   6.0   5.9   5.9   5.8   5.6   5.6