<a href="https://colab.research.google.com/github/omullaboyev/data-science/blob/main/2_1_8_Pandas_DataFrame_ReIndexing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science va Sun'iy Intellekt Praktikum

Ma'lumotlar Tahlili. Pandas kutubxonasi

2.1 Pandas kutubxonasi bilan ishlash.

2.1.8 Qayta Indekslash

In [4]:
# kutubxonalarni chaqirib olamiz
import pandas as pd
import numpy as np

Yillar bo'yicha O'zbekiston aholisining soni, o'sish tempi va zichligi lug'atini yaratib olamiz

In [15]:
# data
data = {
        "Yil": [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
        "Aholi soni": [33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
        "Temp": [1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53],
        "Zichlik": [79.77, 78.68, 77.53, 76.34, 75.13, 73.91, 72.71, 67.03]
} # Yillar bo'yicha O'zbekiston aholisining soni, o'sish tempi va zichligi lug'ati
df = pd.DataFrame(data)
df

    Yil  Aholi soni  Temp  Zichlik
0  2021        33.9  1.54    79.77
1  2020        33.5  1.48    78.68
2  2019        32.9  1.56    77.53
3  2018        32.5  1.62    76.34
4  2017        31.9  1.65    75.13
5  2016        31.4  1.66    73.91
6  2015        30.9  1.64    72.71
7  2010        28.5  1.53    67.03

DataFrame ning indekslarini o'zgartirish

In [16]:
df.index = [21, 20, 19, 18, 17, 16, 15, 10]
df

     Yil  Aholi soni  Temp  Zichlik
21  2021        33.9  1.54    79.77
20  2020        33.5  1.48    78.68
19  2019        32.9  1.56    77.53
18  2018        32.5  1.62    76.34
17  2017        31.9  1.65    75.13
16  2016        31.4  1.66    73.91
15  2015        30.9  1.64    72.71
10  2010        28.5  1.53    67.03

#`reindex` metodi. Index yordamida tartiblash.

**Asl DataFrame o'z xolida qoladi. reindex asl dataframening qayta indekslangan nusxasini qaytaradi.**

In [17]:
ind = [21, 20, 19, 18, 17, 16, 15, 10] # oddiy ro'yxat yaratamiz
ind.sort() # ro'yxatni tartiblaymiz
ind

[10, 15, 16, 17, 18, 19, 20, 21]

In [18]:
# reindex
df.reindex(ind) # reindex aslida yangi DataFrame qaytaradi

     Yil  Aholi soni  Temp  Zichlik
10  2010        28.5  1.53    67.03
15  2015        30.9  1.64    72.71
16  2016        31.4  1.66    73.91
17  2017        31.9  1.65    75.13
18  2018        32.5  1.62    76.34
19  2019        32.9  1.56    77.53
20  2020        33.5  1.48    78.68
21  2021        33.9  1.54    79.77

In [19]:
df

     Yil  Aholi soni  Temp  Zichlik
21  2021        33.9  1.54    79.77
20  2020        33.5  1.48    78.68
19  2019        32.9  1.56    77.53
18  2018        32.5  1.62    76.34
17  2017        31.9  1.65    75.13
16  2016        31.4  1.66    73.91
15  2015        30.9  1.64    72.71
10  2010        28.5  1.53    67.03

In [20]:
df = df.reindex(ind) # df DataFrame ni qayta indekslab yana qayta df ga yozamiz
df

     Yil  Aholi soni  Temp  Zichlik
10  2010        28.5  1.53    67.03
15  2015        30.9  1.64    72.71
16  2016        31.4  1.66    73.91
17  2017        31.9  1.65    75.13
18  2018        32.5  1.62    76.34
19  2019        32.9  1.56    77.53
20  2020        33.5  1.48    78.68
21  2021        33.9  1.54    79.77

#reindex yardamida ba'zi indekslarni tashlab yuborish

In [22]:
# reindex
df.reindex([10, 15, 20]) # reindex yordamida faqat 10, 15, 20 indeksli elementlarni qoldiramiz

     Yil  Aholi soni  Temp  Zichlik
10  2010        28.5  1.53    67.03
15  2015        30.9  1.64    72.71
20  2020        33.5  1.48    78.68

range yordamida reindex

In [24]:
df.reindex(index = range(10, 22)) # range yordamida reindex. df da 11, 12, 13, 14 - indeksli elementlar bo'lmagani uchun ularni NaN bilan to'ldirdi

       Yil  Aholi soni  Temp  Zichlik
10  2010.0        28.5  1.53    67.03
11     NaN         NaN   NaN      NaN
12     NaN         NaN   NaN      NaN
13     NaN         NaN   NaN      NaN
14     NaN         NaN   NaN      NaN
15  2015.0        30.9  1.64    72.71
16  2016.0        31.4  1.66    73.91
17  2017.0        31.9  1.65    75.13
18  2018.0        32.5  1.62    76.34
19  2019.0        32.9  1.56    77.53
20  2020.0        33.5  1.48    78.68
21  2021.0        33.9  1.54    79.77

#`nearest` (eng yaqin) metodi bilan bo'shliqlarni to'ldirish

In [25]:
df.reindex(index = range(10, 22), method = "nearest") # range yordamida reindex. df da 11, 12, 13, 14 - indeksli elementlar bo'lmagani uchun ularni nearest (end yaqin) qiymat bilan to'ldirdi

     Yil  Aholi soni  Temp  Zichlik
10  2010        28.5  1.53    67.03
11  2010        28.5  1.53    67.03
12  2010        28.5  1.53    67.03
13  2015        30.9  1.64    72.71
14  2015        30.9  1.64    72.71
15  2015        30.9  1.64    72.71
16  2016        31.4  1.66    73.91
17  2017        31.9  1.65    75.13
18  2018        32.5  1.62    76.34
19  2019        32.9  1.56    77.53
20  2020        33.5  1.48    78.68
21  2021        33.9  1.54    79.77

#`ffill` forward fill - eng oxirgi qiymat bilan keyingi bo'shliqlarni to'ldirish

In [26]:
df.reindex(index = range(10, 22), method = "ffill") # range yordamida reindex. df da 11, 12, 13, 14 - indeksli elementlar bo'lmagani uchun ularni ffill (end oxirgi) qiymat bilan to'ldirdi

     Yil  Aholi soni  Temp  Zichlik
10  2010        28.5  1.53    67.03
11  2010        28.5  1.53    67.03
12  2010        28.5  1.53    67.03
13  2010        28.5  1.53    67.03
14  2010        28.5  1.53    67.03
15  2015        30.9  1.64    72.71
16  2016        31.4  1.66    73.91
17  2017        31.9  1.65    75.13
18  2018        32.5  1.62    76.34
19  2019        32.9  1.56    77.53
20  2020        33.5  1.48    78.68
21  2021        33.9  1.54    79.77

In [27]:
df

     Yil  Aholi soni  Temp  Zichlik
10  2010        28.5  1.53    67.03
15  2015        30.9  1.64    72.71
16  2016        31.4  1.66    73.91
17  2017        31.9  1.65    75.13
18  2018        32.5  1.62    76.34
19  2019        32.9  1.56    77.53
20  2020        33.5  1.48    78.68
21  2021        33.9  1.54    79.77

#`reindex` yordamida ustunlarni tashlb yuborish

In [30]:
df2 = df.reindex(columns = ["Aholi soni", "Temp", "Zichlik"]) # reindex yordamida bizga kerak bo'lgan "Aholi soni", "Temp", "Zichlik" ustunlarini qoldiramiz
df2

    Aholi soni  Temp  Zichlik
10        28.5  1.53    67.03
15        30.9  1.64    72.71
16        31.4  1.66    73.91
17        31.9  1.65    75.13
18        32.5  1.62    76.34
19        32.9  1.56    77.53
20        33.5  1.48    78.68
21        33.9  1.54    79.77

In [31]:
df2.head() # end birinchi beshta element

    Aholi soni  Temp  Zichlik
10        28.5  1.53    67.03
15        30.9  1.64    72.71
16        31.4  1.66    73.91
17        31.9  1.65    75.13
18        32.5  1.62    76.34

#`sample(n)` DataFrame ning tasodifiy n ta qiymati. sample() - tasodifiy bitta qiymat

In [34]:
df2.sample() # tasodifiy bitta qiymat

    Aholi soni  Temp  Zichlik
15        30.9  1.64    72.71

In [37]:
df2.sample(3) # tasodifiy 3 ta qiymat

    Aholi soni  Temp  Zichlik
16        31.4  1.66    73.91
21        33.9  1.54    79.77
18        32.5  1.62    76.34

#`loc` metodi - qator va ustunlar bo'yicha reindex

In [39]:
df.loc[[10, 15, 18, 20], ["Aholi soni", "Temp", "Zichlik"]] # 10, 15, 18, 20 indekli elementlarning "Aholi soni", "Temp", "Zichlik" ustunlarini ajratib oladi

    Aholi soni  Temp  Zichlik
10        28.5  1.53    67.03
15        30.9  1.64    72.71
18        32.5  1.62    76.34
20        33.5  1.48    78.68